.page {
    width: 100%;
    height: 100%;
    /*background: pink;*/
}
.itemType {
    border-top: 1px solid rgb(245,247,247);
    border-bottom: 1px solid rgb(245,247,247);
    height: 8vh;
    width: 1200px;
    background: white;
    display: flex;
    border-bottom: 1px solid rgb(118,141,160);
    border-top: 1px solid rgb(245,247,247);
    border-bottom: 1px solid rgb(245,247,247);
}
.items {
    border-top: 1px solid rgb(245,247,247);
    border-bottom: 1px solid rgb(245,247,247);
    width: 70px;
    height: 8vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(118,141,160);
}
.choose {
    border-top: 1px solid rgb(245,247,247);
    border-bottom: 1px solid rgb(245,247,247);
    width: 70px;
    height: 8vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(51,153,254);
}
.rightTitle {
    border-top: 1px solid rgb(245,247,247);
    border-bottom: 1px solid rgb(245,247,247);
    background: white;
    margin-left: 430px;
    width: 70px;
    height: 8vh;
    /*background: pink;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(118,141,160);
}
.ant-input-suffix {
    background: white;
}
span {
    background: white;
}
button {
    width: 60px;
    height: 35px;
    background: rgb(0,126,255);
    color: white;
}
.icon {
    background: white;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 40px;
}
.img {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.link {
    color: #40a9ff;
}
.noLink {
    color: rgb(113,119,134);
}
.unfinished {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}