.page {
    width: 1200px;
    height: auto;
    background: white;
    margin: auto;
}
.head {
    background: white;
    width: 1200px;
    height: 12vh;
}
.top {
    background: white;
    width: 1200px;
    height: 12vh;
    /*background: rebeccapurple;*/
    display: flex;
    border-bottom: 1px solid #b2bac2;
}
.topLeft {
    background: white;
    width: 600px;
    height: 12vh;
    /*background: red;*/
    display: flex;
}
.topLeftTitle {
    background: white;
    width: 100px;
    height: 12vh;
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    color: rgb(26,124,255);
    font-family: '方正姚bai体';
    margin-left: 25px;
    margin-right: 25px;
}
.topLeftCenter {
    flex: 1;
    background: #fff;
    display: flex;
}
.topLeftCenterItem {
    background: #ffffff;
    width: 100px;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(118,141,160);
}
.topRight {
    width: 600px;
    height: 12vh;
    background: white;
    display: flex;
    align-items: center;
}
.topIcon {
    margin-left: 25px;
}
.topInput {
    margin-left: 100px;
    background: white;
}
.topButton {
    margin-left: 25px;
    color: white;
}
.login {
    margin-top: 15px;
    width: 60px;
    height: 35px;
    background: white;
    border: 1px solid rgb(0,126,255);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    font-size: 17px;
    color: rgb(0,126,255);
    /*font-weight: bold;*/
}
.picture {
    margin-left: 45px;
    width: 70px;
    height: 70px;
    background: white;
    /*background: yellowgreen;*/
}
.itemType {
    border-top: 1px solid rgb(245,247,247);
    border-bottom: 1px solid rgb(245,247,247);
    height: 8vh;
    width: 1200px;
    background: white;
    display: flex;
    border-bottom: 1px solid rgb(118,141,160);
    border-top: 1px solid rgb(245,247,247);
    border-bottom: 1px solid rgb(245,247,247);
}
.items {
    border-top: 1px solid rgb(245,247,247);
    border-bottom: 1px solid rgb(245,247,247);
    width: 70px;
    height: 8vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(118,141,160);
}
.rightTitle {
    border-top: 1px solid rgb(245,247,247);
    border-bottom: 1px solid rgb(245,247,247);
    background: white;
    margin-left: 430px;
    width: 70px;
    height: 8vh;
    /*background: pink;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(118,141,160);
}
.ant-input-suffix {
    background: white;
}
span {
    background: white;
}
button {
    width: 60px;
    height: 35px;
    background: rgb(0,126,255);
    color: white;
}
.icon {
    background: white;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 40px;
}
.img {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.link {
    color: #40a9ff;
}
.noLink {
    color: rgb(113,119,134);
}